@import 'https://fonts.googleapis.com/css?family=Raleway';

a{
    color: #577d9a;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-family: Raleway;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #333;
}

body, p, td, th {
	font-family: Arial, Helvetica, sans-serif;
}

.page {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    clear: both;
    height: 100%;
    max-width: 1000px;
}

.wrapper {
	min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
}

.ballot-container {

}

.ballot-section {

}

.ballot-section-info {
    font-size: .8em;
    color: #666;
}

.ballot-section-options li {
    -webkit-transition: all .2s; /* Safari */
    transition: all .2s;    
}

.candidate-party{
    text-transform: uppercase;
} 

.ballot-section-options li input{
    width: 100%;
    min-height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*PARTY AFFILIATIONS*/
.ballot-section-options ul{
    padding-left: 0px;
}

.ballot-section-options li.selected,
.ballot-section-options li.selected *{
    color: white !important;
}

.ballot-section-options li.republican{
    border: 2px solid #ff4000;
    color: #ff4000;
}

.ballot-section-options li.republican .actions a{
    background: #ff4000;
}

.ballot-section-options li.republican.selected{
    background: #ff4000;
}

.ballot-section-options li.democrat{
    border: 2px solid #0051bf;
    color: #0051bf;
}

.ballot-section-options li.democrat .actions a{
    background: #0051bf;
}

.ballot-section-options li.democrat.selected{
    background: #0051bf;
}

.ballot-section-options li.libertarian{
    border: 2px solid #e9b600;
    color: #e9b600;
}

.ballot-section-options li.libertarian .actions a{
    background: #e9b600;
}

.ballot-section-options li.libertarian.selected{
    background: #e9b600;
}

.ballot-section-options li.unaffiliated{
    border: 2px solid brown;
    color: brown;
}

.ballot-section-options li.unaffiliated.selected{
    background: brown;
}

.ballot-section-options li.write-in{
    border: 2px solid #666;
    color: #666;
}

.ballot-section-options li.write-in.selected{
    background: #666;
}
/*END PARTY AFFILIATIONS*/

h3.candidate-name {
	width: 100%;
}

.candidate {
	display: inline-block;
	position: relative;
}

.candidate-info{
    display:none;
}

.candidate-info-container {
	width: 100%;
    text-align: center;
    clear:both;
}

.candidate-info-container p {
	text-align: left;
}

.candidate-info-learnmore {
    width: 100%;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

.candidate-info-learnmore a{
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	font-size: .8em;
	width: auto !important;
    height: auto !important;
    background: rgba(0,0,0,0.1) !important;
    padding: .5em !important;
    text-shadow: none !important;
    text-decoration: none !important;
    display:block;
    border-radius: 3px;
    color: #666;
}

@media(max-width: 720px){
    .candidate-info a{
        width: 100%;
        margin-top: 5px;
        display: block;
    }
}

.actions a{
    border: 2px solid white;
    padding: .5em;
    color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    /*margin: 10px;*/
    display: inline-block;
    text-decoration: none;
}

.candidate-info p{
    text-align: center;
}

.candidate-info a{
    margin-right: 20px;
}

.candidate-info-learnmore:after {
	/*content: "\2304" !important;*/
    /*display: block;*/
    /*font-size: 2em;*/
    /*line-height: .5em;*/
}

.ballot-section{
    margin-top: 30px;
}


.ballot-section-options>ul>li {
	list-style: none;
	/*background: #666;*/
	padding: .2em;
	margin: .5em auto;
	border-radius: .2em;
}

.ballot-section-options>ul>li .actions{
    float:right;
}

li.democrat {

}

li.libertarian {

}

li.unaffiliated {

}

@media print {
    .step1{
        display: none;
    }
    .ballot-container{
        display: inline-block;
        float: left;
        width: 30%;
        margin-right: 3.33%;
    }
    .ballot-section{
        clear: both;
        display: block;
        overflow: hidden;
    }
    .ballot-section-options ul{
        display: block;
        clear: both;
    }
    .ballot-section h2{
        display: inline-block;
        float: left;
    }
   .ballot-section-options li{
        display: none;
        border: none !important;
        padding: 5px !important;
        margin: 5px !important;
   }
   .ballot-section-options li.selected{
        display: inline;
        float: left;
   }
   .candidate-info-learnmore{
        display: none;
   }
   .actions{
        display: none;
   }
   h1, h2, h3, h4, h5, h6{
        font-size: 1em;
        margin-bottom: 5px;
        margin: 0px !important;
   }
}